!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Westmoreland Open Hack"
    = stylesheet_link_tag "normalize", "style"
    = javascript_include_tag  "all"
    :javascript
      var meetup = {};
      meetup.APIKey = "#{data.meetup.apiKey}"
      meetup.groupId = #{data.meetup.groupId}
  
  %body{class: "#{page_classes} site"}
    %header
      = partial 'layouts/header'
    = yield
    
    %footer
      = partial 'layouts/footer'